---
name: "Package Splunk App"

"on":
  push:
    branches:
      - main  # Set a branch to deploy

permissions:
  contents: read
  packages: write
  pull-requests: read
  id-token: write
jobs:
  package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod
      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Package the app
        run: |
          python --version
          python -m pip install ksconf
          find . -type f -name '*.conf' -exec ksconf check {} \;
          ./package.sh

      - name: Create the release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release create latest splunk_app_for_easm.tgz --latest --title "Latest Release" --generate-notes